<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>Rapport DB</h1>
            <% if (column.length > 0) {%>
                <div class="form-group">
                    <form action="datadb" method="POST">
                        <label for="axeX">X axis can be aggregate</label>
                        <select class="form-control" id="axeX" name="arg1">
                            <% column.forEach(function(col) { %>
                                <option value="<%= col.name %>"><%= col.name %> - <%= col.type %></option>
                                <% }); %>
                            </select>
                            <label for="axeY">Y Axis group</label>
                            <select class="form-control" id="axeY" name="arg2">
                                <% column.forEach(function(col) { %>
                                    <option value="<%= col.name %>"><%= col.name %> - <%= col.type %></option>
                                    <% }); %>
                                </select>
                                <label for="operation">Operation</label>
                                <select class="form-control" id="operation" name="operation">
                                    <option value="none">Aucune operation</option>
                                    <option value="SUM">Sum</option>
                                    <option value="AVG">Mean</option>
                                    <option value="COUNT">count</option>
                                </select>
                                <label for="chart">Chart Type</label>
                                <select class="form-control" id="chart" name="chart">
                                    <option value="pie">Pie chart</option>
                                    <option value="bar">Bar chart </option>
                                    <option value="line">Line chart (can be used for timeline)</option>
                                </select>
                                <input type="submit" class="form-control">
                            </form>
                        </div>
                        <% } else { %>
                            <canvas id="chart"></canvas>
                            <script type="text/javascript">
                            new Chart($("#chart"), {
                                type: '<%- chart %>',
                                data: {
                                  labels: <%- JSON.stringify(label) %>,
                                  datasets: [{
                                    fill: false,
                                    label: "regroupement",
                                    backgroundColor: <%- JSON.stringify(colors) %>,
                                    data: <%- JSON.stringify(data) %>
                                  }]
                                },
                                options: {
                                  title: {
                                    display: true,
                                    text: 'graph'
                                  }
                                }
                            });
                            </script>
                            
                        <% } %>
                    </ul>
                </div>
            </main>
            
            <footer>
                <% include ../partials/footer %>
            </footer>
            
        </body>
        </html>
